.top-container {
	position: relative;
	display: inline-block;
	background-color: #D9D9D9;
	width: 100%;
	margin-left: 5rem 0 0 5rem;

}

.bottom-container {
	position: relative;
	display: inline-block;
	padding: 10px;
}

.login a:link {
	color: blue;
}

.login a:visited {
	color: purple;
}

.login {
	width:400px;
}

.nav-table {
	width: 950px;
}


#top-logo img{
	height: 100%;
	width: 350px;
}

#top-logo {
	position: relative;
	height: 50px;
}


.paginate-top, .paginate-bottom {
	position: relative;
	display: inline-block;
	margin-left: 300px;
	padding-right: 300px;
	font-size: 1.3em;
	
}

.footer-copyright {
	margin-left: 300px;
}


