// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#movie_title a:link {
	color: blue;
}

#movie_title a:visited {
	color: purple;
}

#add-movie-button {
	position: relative;
	display: inline-block;
	margin-left: 250px;
	text-decoration: none;

}

.movie-info {
	padding-left: 10px;
}

.form-partial {
	padding: 20px;
	background-color: #D9D9D9;
}

.full-movie-image {
	padding: 20px 0 20px 200px;
}


.movie-panel {
	padding: 15px;
	margin: 20px auto;
	background-color: #FFF;
	height: 100%;
	width: 90%;
	border-radius: 10px;
	box-shadow: 10px 10px 5px #888888;
	display: block;
}

.panel h2 a:link {
	color: blue;
}

.panel h2 a:visited {
	color: purple;
}

.description-text {
	font-style: italic;
}