<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.firstname %></h1>
    <p>
      This email is to notify you that your Rotten Mangoes account has been: <br>
      <br>

       /$$           /$$             /$$                     /$$
      | $$          | $$            | $$                    | $$
  /$$$$$$$  /$$$$$$ | $$  /$$$$$$  /$$$$$$    /$$$$$$   /$$$$$$$
 /$$__  $$ /$$__  $$| $$ /$$__  $$|_  $$_/   /$$__  $$ /$$__  $$
| $$  | $$| $$$$$$$$| $$| $$$$$$$$  | $$    | $$$$$$$$| $$  | $$
| $$  | $$| $$_____/| $$| $$_____/  | $$ /$$| $$_____/| $$  | $$
|  $$$$$$$|  $$$$$$$| $$|  $$$$$$$  |  $$$$/|  $$$$$$$|  $$$$$$$
 \_______/ \_______/|__/ \_______/   \___/   \_______/ \_______/

    </p>
    <p>
      If you believe this action was a mistake, please contact us back.
    </p>
    <p>Thanks,</p>
    Mango Admin
  </body>
